/.Rhistory
/.RData
/.Ruserdata
/.DS_Store

/renv/library/
/renv/python/
/renv/staging/
/renv/cache/
/renv.lock

/outputs/publication/
/outputs/models/*.rds
/outputs/models/*.qs

/data/raw/*
!/data/raw/.gitkeep
!/data/raw/lits/.gitkeep
!/data/raw/hbs/.gitkeep
!/data/raw/admin/.gitkeep

/data/processed/*
!/data/processed/.gitkeep

/.quarto/
**/*.quarto_ipynb
.Rproj.user
